

html{
background-color: #494033;
}
img{
background-color: white;

}

img.formula{
margin-top: 30mm
}

body{	
display: block;
margin: 0px 58mm 0px 58mm;
}

#dir, #border, #esq{
	display: table-cell;
}

#border{
	padding: 0px 20px 0px 20px;
	margin-top: 0px;
	background-color: green;
	height: 100vh;
	overflow-y: hidden;
}

h2 {
	text-align: center;
	text-shadow: 2px 2px black;
	color: #FF9A00;
}