

@font-face {
    font-family: 'rsbold';
    src: url('runescape-bold-12-webfont.woff2') format('woff2'),
         url('runescape-bold-12-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'rsplain';
    src: url('runescape-plain-12-webfont.woff2') format('woff2'),
         url('runescape-plain-12-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


html{
background-color: #494033;
font-family: "rsbold";
font-weight:normal;
font-style:normal;
}


img{
background-color: white;

}

img.formula{
margin-top: 30mm
}

body{	
display: block;
margin: 0px 58mm 0px 58mm;
}

#dir, #border, #esq{
	display: table-cell;
}

#border{
	padding: 0px 20px 0px 20px;
	margin-top: 0px;
	background-color: #2e2820;

	height: 100vh;
	overflow-y: hidden;
	-moz-border-radius: 8px;
	border-radius:8px;

}






.inner{

  background:url(white.gif);
}

h2 {
	text-align: center;
	text-shadow: 2px 2px black;
	color: #FF9A00;
}